
        * {
            padding: 0;
            margin: 0;
            border-radius: 6px;
            font-size: 17px;
            font-family: helvetica, arial, sans-serif;
            box-sizing: border-box;
        }
        /* css cho phần body:form login+logo */
        .container {
            display: flex;
            flex-flow: row;
            padding: 8% 0 14%;
            justify-content: center;
            background-color: #E9EBEE;
        }

        /* css cho phần logo */
        .logo {
            width: 630px;
            padding-top: 45px;
        }

        .logo img {
            height: 106px;
        }

        #slogan {
            font-size: 28px;
            line-height: 32px;
            max-width: 500px;
            overflow: hidden;
            margin-left: 32px;
            color: #1c1e21;
            font-weight: normal;

        }

        /* css cho form login facebook */
        .container-form {
            width: 400px;
            background-color: #FFFFFF;
            border-radius:10px;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        }

        .infor {
            line-height: 12px;
            background-color: #FFFFFF;
        }

        .infor-text {
            min-width: 368px;
            height: 48px;
            background-color: #FFFFFF;
            text-indent: 10px;
            border: 1px solid #dddfe2;
        }

        input:focus {
            outline: none;
            border: 1px solid #0b6be7;
        }

        .register {
            width: 368px;
            height: 48px;
            background-color: #166fe5;
            border-color: #365899;
            color: white;
            font-weight: 600;
            font-size: 20px;
            border: 1px solid #dddfe2;
        }

        .new-register {
            width: 200px;
            height: 48px;
            background-color: #36A420;
            color: white;
            font-size: 16.2px;
            font-weight: 550;
            border: 1px solid #dddfe2;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .help {
            text-decoration: none;
            background-color: #FFFFFF;
            color: #1877f2;
            font-size: 15px;

        }

        #line {
            width: 98%;
            background-color: #dddfe2;
            height: 1px;
            border: none;
        }

        /* css cho content */
        .content {
            width: 400px;
            padding-top:25px;
            text-align:center;
            font-size:14px;
            color: #1c1e21;

        }
        .content a {
            text-decoration:none;
            font-size:14px;
            font-weight:600;
            color: #1c1e21;
        }

        /* css cho phần facebook link */
        .facebook-link {
            height:200px;
            padding:15px 15%;
        }
        .facebook-link-detail {
            display:flex;
            flex-direction:row;
            align-items:center;
            flex-wrap: wrap;
            padding-top:10px;
        }
        .facebook-link a {
            font-size:12px;
            color: #8a8d91;
            text-decoration:none;
        }
        .facebook-link li {
            font-size:12px;
            color: #8a8d91;
            line-height:2.0;
            padding-right:15px;
            list-style:none;
        }
    
        .facebook-link a:hover {
            text-decoration:underline;
        }
        .plus {
            font-size:25px;
        }
        #facebook-link-line {
            width:100%;
            height:0.1px;
            background-color: #d1d4d6;
            margin-top:5px;
        }

