
        * {
            padding: 0;
            margin: 0;
        }

        body {
            font-family: Roboto, Arial, sans-serif;
        }

        .container {
            box-sizing: border-box;
            width: fit-content;
            height: fit-content;
            margin: auto;
            margin-top: 30px;
            border: 1px solid #ddd;
        }

        /* css cho phần container head */
        .container-head {
            color: #fff;
            font-size: 18px;
            padding: 5px 10px;
            background-color: #c00;
            font-weight: 500;
            line-height: 1.8;
        }

        /* css cho phần container link */
        .container-link {
            margin: 8px;
        }

        .container-link a {
            line-height: 1.5;
            color: #900;
            font-weight: 700;
            font-size: 15px;
            text-decoration: none;
        }
        .container-link a:hover {
            text-decoration:underline;
        }

        /* css cho phần table */

        .table,
        td {
            border: 1px solid #ddd;
            border-collapse: collapse;
            padding: 15px;
            text-align: center;
            font-size: 28px;
            font-weight: 700;
        }

        /* css cho td có one row */
        .one-row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width:500px;
            height: 24px;
            align-items: center;
            border-bottom: none;
            border-left: none;
            border-right: none;
            align-items: center;
        }

        /* css cho td có two-row*/
        .two-row {
            display: flex;
            flex-direction: column;
            border-bottom: none;
            border-bottom: none;
            border-left: none;
            border-right: none;
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 28px;
            align-items: center;
        }

        /* css bỏ border dòng 1 */
        #ma-db {
            border-top: none;
        }

        /* css bôi màu cho các dòng cách nhau, dùng "even" */
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        /* css cho khoảng cách giữa các dòng trong ô td có two-row */
        .two-row div:first-child {
            padding-bottom: 10px;
        }

        td:first-child {
            font-size: 15px;
            font-weight: 400;
        }

        /* css cho các dòng cỡ chữ, màu chữ dặc biệt */
        #ma-db {
            color: #1f10e2;
            font-size: 24px;
            font-weight: 400;
        }

        #g-db {
            color: #f40819;
            font-size: 34px;
            font-weight: 700;

        }

        #g7 {
            color: #f40819;
            font-size: 30px;
            font-weight: 700;
        }